body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}
body{
    background-image: url('img/Old-Vintage-Paper-Textured-background-Graphics-69134861-1-4066450140.jpg');
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('img/3306160-3787821484.jpg');
    background-size: cover;
    background-position: center;
    mask-image: url('img/ezgif-5f11aeda3df7a1.gif');
    mask-size: cover;
    mask-position: center;
}
.select-section {
    max-width: 200px;
    margin: 0 auto; 
    text-align: center; 
}
.output-container {
    display: flex;
}
.input-section {
    width: 50%;
    margin: 10px;
}
.output-section {
    width: 50%;
    margin: 10px;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
#textInput{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e9ecef;
    text-align: center;
    font-size: 1.5em;
}
.output {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e9ecef;
    text-align: center;
    font-size: 1.5em;
    word-spacing: .5em;
    height: 28px;
}